# Target
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_sl3000-emmc=y

# RootFS
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=1024

# Base system
CONFIG_PACKAGE_busybox=y

# Filesystem / eMMC / partitions
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_kmod-fs-ext4=y

# Network basics
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_pppoe-discovery=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-offload=y

# WiFi (MT7981 内置 + 7915 射频)
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_mt7981-wo-firmware=y
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y

# LED / 按键
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y

# LuCI Web
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_luci-compat=y

# ✅ Argon 主题
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_l
